In [4]:
import BP

In [6]:
from BP import Bertrand

In [7]:
b = Bertrand()
b_100 = b.bertrand_single(100, show_range=True)

100 198

In [8]:
b.bertrand_range(100)

    num  length
0     4       1
1     5       1
2     6       1
3     7       1
4     8       2
..  ...     ...
91   95      18
92   96      18
93   97      18
94   98      19
95   99      19

[96 rows x 2 columns]